.valid {
	display: none;
	color: transparent;
	font-size: 1.4rem;
	font-weight: 400;
	text-align: end;
	flex-grow: 1;
}

.invalid {
	display: block;
	color: red;
	font-size: 1.4rem;
	font-weight: 400;
	text-align: end;
	flex-grow: 1;
}

.input-invalid {
	border: 0.2rem solid red !important;
}
