.calculator {
	display: flex;
	border-radius: 2rem;
	gap: 2rem;
	font-family: "Space Mono", sans-serif;

	&__heading {
		font-size: 3.4rem;
		text-transform: uppercase;
		color: $color-very-dark-cyan;
		margin: 5rem auto;
		text-align: center;
		letter-spacing: 5px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		width: 48%;
	}

	&__control {
		display: flex;
		position: relative;
		flex-wrap: wrap;

		&--label {
			font-size: 1.4rem;
			font-weight: $font-weight-bold;
			color: $color-dark-grayish-cyan-1;
			margin-bottom: 1rem;
			width: auto;
		}

		&--input {
			font-size: 2.4rem;
			color: $color-very-dark-cyan;
			font-weight: $font-weight-bold;
			border: 0.2rem solid transparent;
			text-align: right;
			border-radius: 1rem;
			font-family: "Space Mono", sans-serif;
			width: 100%;

			padding: 0 1rem;
			// margin-top: 1rem;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			&:focus {
				outline: none;
			}

			&::placeholder {
				text-align: end;
				color: $color-very-dark-cyan;
			}
		}

		&--bill {
			background: #f4fafa url(../../../images/icon-dollar.svg) no-repeat 1rem
				center;
		}

		&--person {
			background: $color-light-grayish-cyan-2
				url(../../../images/icon-person.svg) no-repeat 1rem center;
		}

		&--select {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			justify-content: space-between;
		}

		&--custom {
			background-color: $color-light-grayish-cyan-2;
			width: 30%;

			&::placeholder {
				text-align: center;
				color: $color-dark-grayish-cyan-1;
				font-size: 2.4rem;
			}
		}
	}

	&__result {
		background-color: $color-very-dark-cyan;
		border-radius: 2rem;
		padding: 4rem;
		flex-grow: 1;

		&-container {
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}
		&-group {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}
		&--tip,
		&--icon,
		&--total {
			display: inline-block;
			font-size: 4rem;
			font-weight: $font-weight-bold;
			color: $color-primary;
		}

		&--label {
			display: block;
			color: $color-white;
			font-size: 1.8rem;
			font-weight: $font-weight-bold;
			margin-bottom: 1rem;
			& span {
				display: block;
				font-size: 1.4rem;
				font-weight: $font-weight-default;
				color: $color-light-grayish-cyan-1;
			}
		}

		&-control {
			display: flex;
			justify-content: space-between;
		}
	}
}
